.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "title navbar navbar navbar navbar-links navbar-links navbar-links navbar-links"
    ". . . . . . . ."
    "Sabi Sabi Picture Picture Picture Picture digital-art paper-art"
    "Sabi Sabi Picture Picture Picture Picture Penpals Penpals"
    "Capsule ADM Picture Picture Picture Picture Penpals Penpals"
    "Lain Antsible Picture Picture Picture Picture disappointed-ep eagles-landing"
    "nervOS nervOS Picture Picture Picture Picture hex-gf hex-gf"
    ". . Picture Picture Picture Picture hex-gf hex-gf"
    ". . . . . . . .";
}

.navbar-links { grid-area: navbar-links; }

.title {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
  grid-area: title;
}

.navbar {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
  grid-area: navbar;
}

.Picture {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
  grid-area: Picture;
}

.Sabi { grid-area: Sabi; }

.Capsule { grid-area: Capsule; }

.Lain { grid-area: Lain; }

.Antsible { grid-area: Antsible; }

.ADM { grid-area: ADM; }

.nervOS { grid-area: nervOS; }

.Penpals { grid-area: Penpals; }

.digital-art { grid-area: digital-art; }

.paper-art { grid-area: paper-art; }

.eagles-landing { grid-area: eagles-landing; }

.disappointed-ep { grid-area: disappointed-ep; }

.hex-gf { grid-area: hex-gf; }
